/*TAG*/


h1 h3 h3{
    color: firebrick;
    font-style: oblique;

}


#parrafo1{
    color: forestgreen;
}

.alerta{
    color: fuchsia;
}

.articulo {
    color: darkorchid;
    background-color: pink;
    border-width: 20px;
    border-style: dashed;
    margin: 50px;
    border-radius: 10px;
    padding: 10 px 30 px 50px 1px;
    justify-content: end;
}
